/* ===================================
   MAIN CSS - Module Orchestrator
   Da-Coders-135 Portfolio Website
   =================================== */

/* 1. Design Tokens & Variables */
@import url('./css/variables.css');

/* 2. Base Styles */
@import url('./css/base.css');

/* 3. Component Modules */
@import url('./css/components/header.css');
@import url('./css/components/navigation.css');
@import url('./css/components/cards.css');
@import url('./css/components/buttons.css');
@import url('./css/components/footer.css');

/* 4. Section Modules */
@import url('./css/sections/home.css');
@import url('./css/sections/services.css');
@import url('./css/sections/samples.css');
@import url('./css/sections/contact.css');

/* 5. Utilities */
@import url('./css/utilities.css');